## .NET
bin/
obj/
*.user
*.suo

## Visual Studio
.vs/
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## SQLite local db (generated at runtime)
*.db
*.db-shm
*.db-wal
